.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.modifier-category {
    font-weight: bold;
    margin-top: 20px;
}

.modifier-category.required::after {
    content: " (Required)";
    color: red;
    font-size: 0.9em;
}

.modifier-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.modifier-option input {
    margin-right: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.quantity-control button {
    padding: 5px 10px;
    font-size: 1.2em;
}


.modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.total-amount{
    font-size: 1.1rem;
    font-weight: bold;
    

}
.quantity-button{
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
}

.button-container button {
    flex: 1; 
    text-align: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}



